<!DOCTYPE html>
<html>
    <head>
        <title>Hava Kalitesi Sonucu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    </head>
    <body>
        <div class="navbar">
            <div class="top">
                <img src="../static/images/picture_first_k_4.png" alt="temizhavalogo">
                <ul>
                    <li><a href="anasayfa.html">Home</a></li>
                    <li><a href="index.html">Air Quality İndex</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </div>
            <div class="information">
                <h1>Air Pollution and Health Effects</h1>
                <p>
                    Although carbon dioxide is the most effective source of global warming and climate change, it is not the only cause. Many other gaseous or particle components, known as 'climate drivers', affect the amount of solar energy (including heat) available to the Earth.
                </p>
            </div>
        </div>
        <div class="contents">
            <div>
                <h1>Air pollution</h1>
            </div>
            <div class="bölümler">
                <div >
                    <div class="bilgi">
                       <p>According to World Health Organization data, 9 out of 10 people in the world die every year due to air pollution.</p>
                    </div>
                    <div class="bilgi">
                        <p>In Turkey, at least 6 times more people have died due to air pollution than traffic accidents since 2017.</p>
                    </div>
                </div>
                <div >
                    <div class="bilgi">
                        <p>Worldwide, air pollution causes 1.4 million heart attacks, 2.4 million heart diseases and 1.8 million respiratory diseases every year.</p>
                    </div>
                    <div class="bilgi">
                        <p>In 2019, approximately 18 million people (21% of the population) living in 30 provinces did not have sufficient data on the quality of the air they breathed throughout the year.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contents-two">
            <div class="info">
                <div class="contents-image">
                    <img src="../static/images/hava-kirliliginin-etkileri-810x810.png" alt="kirlihava">
                </div>
                <div style="max-width: 500px; margin-right: 80px;">
                    <h2 style="margin-bottom: 30px;">What is Air Pollution?</h2>
                    <p>
                        Air pollution, in its most basic definition, is the entry of harmful substances into the Earth's atmosphere.
                        These substances cause many negative effects as they continue to remain in the atmosphere.
                        Respiration, one of the most important needs of all living things, is directly proportional to the air quality in the atmosphere.
                    </p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="writing">
                By subscribing to our e-bulletin with your e-mail address, you can be instantly informed about upcoming news, reports and many other topics.
            </div>
            <div>
                <form>
                    <input type="text" id="email" placeholder="E-Mailinizi Giriniz...">
                    <input type="submit" value="Kayıt ol">
                </form>
            </div>
        </div>
    </body>
</html>